body {
    margin: 0;
    background-color: cadetblue;
}

.gameContainer {
    /* border: solid firebrick; */
    height: 100vh;
    width: 100vh;
    /* background-image: url("https://i1.pickpik.com/photos/184/716/976/chalkboard-slate-green-blackboard-preview.jpg"); */
    background-image: url("https://t3.ftcdn.net/jpg/02/74/76/34/360_F_274763459_HADMcYrskkrAPtBDWqv4RHXz9QXjPoLX.jpg");
    background-size: cover;
    background-position: center;
    margin: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.title {
    /* border: ridge; */
    height: 10vh;
    width: 80vh;
    margin: auto;
    margin-top: 3vh;
    text-align: center;
    font-size: 50px;
    margin-top: 3.5vh;
    color: whitesmoke;
    text-decoration: underline;
}

.topScreen {
    /* border: ridge purple; */
    height: 47vh;
    width: 80vh;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 5vh;
}

.stickFigureBox {
    border: 3px solid whitesmoke;
    height: 45vh;
    width: 39vh;
}

.alphabetBox {
    /* border: ridge; */
    height: 45vh;
    width: 39vh;
}

.hangPiece {
    border: solid white;
    background-color: cadetblue;
    height: 6.4vh;
    /* width: 30vh; */
    margin: 2px;
    margin-top: 0.5vh;
}

.alphabet {
    border: 3px solid whitesmoke;
    height: 100%;

}

.letter {
    border: 3px solid gainsboro;
    height: 6vh;
    width: 6vh;
    border-radius: 3vh;
    font-size: 16px;
    font-weight: 800;
    background-color: transparent;
    margin-top: 1vh;
    margin-left: 1vh;
    color: blanchedalmond;
}

.letter:hover {
    background-color: whitesmoke;
    color: cadetblue;
}

.midScreen {
    /* border: ridge whitesmoke; */
    height: 8vh;
    width: 50vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

input {
    border: 3px solid gainsboro;
    height: 7vh;
    width: 20vh;
    border-radius: 2vh;
    font-size: 20px;
    font-weight: 800;
    background-color: transparent;
    color: blanchedalmond;
}

.wordChoice {
    border: 3px solid gainsboro;
    height: 8vh;
    width: 20vh;
    border-radius: 2vh;
    font-size: 18px;
    font-weight: 800;
    background-color: transparent;
    color: blanchedalmond;
}

.wordChoice:hover {
    background-color: whitesmoke;
    color: cadetblue;
}

.bottomScreen {
    border: 3px solid whitesmoke;
    height: 15vh;
    width: 80vh;
    margin: auto;
    color: white;
    font-size: 30px;
    margin-top: 1vh;
}

.blankSpaces {
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.space {
    border-bottom: 3px solid white;
    width: 4vh;
    text-align: center;
}

.playAgainContainer {
    /* border: ridge white; */
    height: 10vh;
    width: 40vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playAgain {
    border: 3px solid lightgray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
    font-size: 18px;
    background-color: cadetblue;
    height: 5vh;
    width: 20vh;
    border-radius: 5vh;
    color: blanchedalmond;
}

.playAgain:hover {
    background-color: cadetblue;
    color: whitesmoke;
}