*{
    margin: 0;
    list-style: none;
    text-decoration: none;
}

img,
svg,
video {
    max-width: 100%;
    display: block;
}

body {
    background-image: url("https://img.freepik.com/free-photo/green-dirty-blackboard_125540-774.jpg?size=626&ext=jpg&ga=GA1.1.472614986.1675387209&semt=ais");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.toggleDark{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.4vh solid whitesmoke;
    background-color: transparent;
    height: 6vh;
    width: 6vh;
    border-radius: 50%;
    cursor: pointer;
}

.dark-mode {
    background-color: black;
    background-image: none;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 0.4vh solid whitesmoke;
    border-left: 0.4vh solid whitesmoke;
    border-right: 0.4vh solid whitesmoke;
    height: 8vh;
    padding: 2vh;
}

.nav h1{
    text-align: center;
    font-size: 6vh;
    color: whitesmoke;
}

.navElements{
    /* border: solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.navElements:last-child{
    gap: 1vh;
}

.gameContainer{
    /* border: solid yellow; */
        height: 95vh;
        width: 90vh;
        margin: auto; 
        /* take margin off for mobile-view */
        display: flex;
        flex-direction: column;
    }

.topScreen {
    /* border: ridge purple; */
    height: 45vh;
    width: 80vh;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    gap: 0.5vh;
}

.stickFigureBox {
    border: 0.4vh solid whitesmoke;
    height: 45vh;
    width: 39vh;
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
    align-items: center;
    overflow: scroll;
}

.hangPiece {
    border: solid whitesmoke;
    background-color: cadetblue;
    color: whitesmoke;
    height: 6.75vh;
    width: 38vh;
    font-size: 3.5vh;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alphabet {
    border: 0.4vh solid whitesmoke;
    height: 45vh;
    width: 39vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1vh;
    overflow: scroll;
}

.letter {
    border: 0.5vh solid gainsboro;
    height: 6vh;
    width: 6vh;
    border-radius: 50%;
    font-size: 2.35vh;
    font-weight: 800;
    background-color: transparent;
    color: blanchedalmond;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.midScreen {
    /* border: ridge whitesmoke; */
    height: 8vh;
    width: 80vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.yourWord{
    height: 8vh;
    width: 55vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

input {
    border: 0.4vh solid gainsboro;
    height: 7vh;
    width: 30vh;
    border-radius: 2vh;
    font-size: 3.5vh;
    font-weight: 800;
    background-color: transparent;
    color: blanchedalmond;
    text-align: center;
}

.submitWord, .randomWord {
    border: 0.4vh solid gainsboro;
    height: 8vh;
    width: 20vh;
    border-radius: 2vh;
    font-size: 2.35vh;
    font-weight: 800;
    background-color: transparent;
    color: blanchedalmond;
    cursor: pointer;
}

.bottomScreen {
    border: 0.4vh solid whitesmoke;
    height: 15vh;
    width: 79.5vh;
    margin: auto;
    color: whitesmoke;
    font-size: 4vh;
}

.blankSpaces {
    height: 14.25vh;
    width: 79.5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.space {
    border-bottom: 0.4vh solid whitesmoke;
    width: 4vh;
    text-align: center;
}

.playAgainContainer {
    /* border: ridge black; */
    width: 60vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10vh;
}

.playAgain, .randomGuessWord, .guessWord {
    border: 0.4vh solid lightgray;
    font-weight: 800;
    font-size: 2.35vh;
    background-color: transparent;
    height: 8vh;
    width: 22vh;
    border-radius: 3vh;
    color: blanchedalmond;
    cursor: pointer;
}

.invisible {
    visibility: hidden;
}

.letter:hover,
.randomWord:hover, 
.submitWord:hover, 
.playAgain:hover,
.guessWord:hover,
.randomGuessWord:hover {
    background-color: cadetblue;
    color: whitesmoke;
}

footer{
    width: 100%;
    background-color: whitesmoke;
    height: 5vh;
}

/* ////////////////////// */
#myBtn{
    border: solid whitesmoke 0.4vh;
    height: 6vh;
    width: 6vh;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: cadetblue;
    padding: 2vh;
    border: 0.4vh solid #888;
    margin: auto;
    width: 50%;
    color: whitesmoke;
    line-height: normal;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 3vw;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  /* /////////////////////// */

  /* The side navigation menu */
  .wrapper .sidebar{
    border-right: 0.4vh solid whitesmoke;
    border-left: 0.5vh solid whitesmoke;
    position: absolute;
    top: 12vh;
    left: 0;
    width: 42vh;
    height: 92vh;
    padding: 2vh;
    text-align: center;
    transition: all 0.5s ease;
}

.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 1vh;
}

.profile img{
    height: 30vh;
    width: 30vh;
}

.profile h3{
    color: blanchedalmond;
}

.profile p{
    color: whitesmoke;
}

.sidebar ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    margin-block: 1vh;
    padding-inline: 1vh;
}

.sidebar ul li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid whitesmoke;
    height: 10vh;
    width: 10vh;
    border-radius: 1vh;
}

.sidebar ul li:first-child{
    background-color: cadetblue;
}

.sidebar ul li:hover{
    background: cadetblue;
    cursor: pointer;
}

.sidebar ul li a{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    color: whitesmoke;
}

.wrapper .section .top_navbar{
    display: flex;
    justify-content: center;
    padding: 2vh;
}

.wrapper .section .top_navbar .hamburger a{
    font-size: 3vw;
    color: #f4fbff;
}

.wrapper .section .top_navbar .hamburger a:hover{
    color: cadetblue;
}

body.active .wrapper .sidebar{
    left: -46.5vh;
}

body.active .wrapper .section{
    left: 0;
    width: 100%;
}



/* ********************************************** */
/* This kinda works */
/* saves all relative units */
/* @media (orientation: landscape) {
    .gameContainer{
        height: 100vw;
        width: 90vw;
    }
    
    .title {
        height: 10vw;
        width: 80vw;
        font-size: 8vw;
    }
    
    .topScreen {
        height: 45vw;
        width: 80vw;
        gap: 0.5vw;
    }
    
    .stickFigureBox {
        border: 0.4vw solid whitesmoke;
        height: 45vw;
        width: 39vw;
        gap: 0.5vw;
    }
    
    .hangPiece {
        height: 6.75vw;
        width: 38vw;
        font-size: 3.5vw;
    }
    
    .alphabet {
        border: 0.4vw solid whitesmoke;
        height: 45vw;
        width: 39vw;
        gap: 1vw;
    }
    
    .letter {
        border: 0.5vw solid gainsboro;
        height: 6vw;
        width: 6vw;
        font-size: 2.35vw;
    }
    
    .midScreen {
        height: 8vw;
        width: 80vw;
    }
    
    .yourWord{
        height: 8vw;
        width: 55vw;
    }
    
    input {
        border: 0.4vw solid gainsboro;
        height: 7vw;
        width: 30vw;
        border-radius: 2vw;
        font-size: 3.5vw;
    }
    
    .submitWord, .randomWord {
        border: 0.4vw solid gainsboro;
        height: 8vw;
        width: 20vw;
        border-radius: 2vw;
        font-size: 2.35vw;
    }
    
    .bottomScreen {
        border: 0.4vw solid whitesmoke;
        height: 15vw;
        width: 79.5vw;
        font-size: 4vw;
    }
    
    .blankSpaces {
        height: 14.25vw;
        width: 79.5vw;
    }
    
    .space {
        border-bottom: 0.4vw solid whitesmoke;
        width: 4vw;
    }
    
    .playAgainContainer {
        height: 10vw;
        width: 60vw;
        gap: 10vw;
    }
    
    .playAgain, .randomGuessWord, .guessWord {
        border: 0.4vw solid lightgray;
        font-size: 2.35vw;
        height: 8vw;
        width: 22vw;
        border-radius: 3vw;
    }
} */
