/* use vw */
/* use media queries */
*{
    margin: 0;
}

body {
    background-image: url("https://img.freepik.com/free-photo/green-dirty-blackboard_125540-774.jpg?size=626&ext=jpg&ga=GA1.1.472614986.1675387209&semt=ais");
    background-size: cover;
    background-position: center;
    /* background-color: black; */ 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.gameContainer{
    /* border: solid yellow; */
    height: 100vh;
    width: 90vh;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.title {
    /* border: ridge; */
    height: 10vh;
    width: 80vh;
    margin: auto;
    text-align: center;
    font-size: 8vh;
    color: whitesmoke;
    text-decoration: underline;
}

.topScreen {
    /* border: ridge purple; */
    height: 45vh;
    width: 80vh;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    gap: 0.5vh;
}

.stickFigureBox {
    border: 0.4vh solid whitesmoke;
    height: 45vh;
    width: 39vh;
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
    align-items: center;
    overflow: scroll;
}

.hangPiece {
    border: solid whitesmoke;
    background-color: cadetblue;
    color: whitesmoke;
    height: 6.75vh;
    width: 38vh;
    font-size: 3.5vh;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alphabet {
    border: 0.4vh solid whitesmoke;
    height: 45vh;
    width: 39vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1vh;
    overflow: scroll;
}

.letter {
    border: 0.5vh solid gainsboro;
    height: 6vh;
    width: 6vh;
    border-radius: 50%;
    font-size: 2.35vh;
    font-weight: 800;
    background-color: transparent;
    color: blanchedalmond;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.midScreen {
    /* border: ridge whitesmoke; */
    height: 8vh;
    width: 80vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.yourWord{
    height: 8vh;
    width: 55vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

input {
    border: 0.4vh solid gainsboro;
    height: 7vh;
    width: 30vh;
    border-radius: 2vh;
    font-size: 3.5vh;
    font-weight: 800;
    background-color: transparent;
    color: blanchedalmond;
    text-align: center;
}

.submitWord, .randomWord {
    border: 0.4vh solid gainsboro;
    height: 8vh;
    width: 20vh;
    border-radius: 2vh;
    font-size: 2.35vh;
    font-weight: 800;
    background-color: transparent;
    color: blanchedalmond;
    cursor: pointer;
}

.bottomScreen {
    border: 0.4vh solid whitesmoke;
    height: 15vh;
    width: 79.5vh;
    margin: auto;
    color: whitesmoke;
    font-size: 4vh;
}

.blankSpaces {
    height: 14.25vh;
    width: 79.5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.space {
    border-bottom: 0.4vh solid whitesmoke;
    width: 4vh;
    text-align: center;
}

.playAgainContainer {
    /* border: ridge white; */
    height: 10vh;
    width: 60vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10vh;
}

.playAgain, .randomGuessWord, .guessWord {
    border: 0.4vh solid lightgray;
    font-weight: 800;
    font-size: 2.35vh;
    background-color: transparent;
    height: 8vh;
    width: 22vh;
    border-radius: 3vh;
    color: blanchedalmond;
    cursor: pointer;
}

.invisible {
    visibility: hidden;
}

.letter:hover,
.randomWord:hover, 
.submitWord:hover, 
.playAgain:hover,
.guessWord:hover,
.randomGuessWord:hover {
    background-color: cadetblue;
    color: whitesmoke;
}